# data & results folders
DATASETS*
TILES*
TEST*
*__pycache__*
full_labels*
PREDS_VS_LABELS
data
data_pkl
copied_xml_files
data_pipeline/utils/.DS_Store
data_pipeline/.DS_Store
data_pipeline/utils/data_api/.env
data_pipeline/utils/data_api/.DS_Store
data_pipeline/utils/.env
.gitignore
.DS_Store
metadata_output/chile_post_tiles_data.pkl
metadata_output/chile_pre_tiles_data.pkl
metadata_output/france_post_tiles_data.pkl
metadata_output/france_pre_tiles_data.pkl
metadata_output/greece_post_tiles_data.pkl
metadata_output/greece_pre_tiles_data.pkl
metadata_output/greece2_post_tiles_data.pkl
metadata_output/greece2_pre_tiles_data.pkl
metadata_output/paraguay_post_tiles_data.pkl
metadata_output/paraguay_pre_tiles_data.pkl
metadata_output/sardinia_post_tiles_data.pkl
metadata_output/sardinia_pre_tiles_data.pkl
metadata_output/spain_post_tiles_data.pkl
metadata_output/spain_pre_tiles_data.pkl
metadata_output/spain2_post_tiles_data.pkl
metadata_output/spain2_pre_tiles_data.pkl
metadata_output/spain3_post_tiles_data.pkl
metadata_output/spain3_pre_tiles_data.pkl
metadata_output/turkey_post_tiles_data.pkl
metadata_output/turkey_pre_tiles_data.pkl
metadata_output/usa_post_tiles_data.pkl
metadata_output/usa_pre_tiles_data.pkl
metadata_output/usa2_post_tiles_data.pkl
metadata_output/usa2_pre_tiles_data.pkl
