# data & results folders
DATASETS*
TILES*
TEST*
*__pycache__*
full_labels*
PREDS_VS_LABELS
data
data_pkl
copied_xml_files
data_pipeline/utils/.DS_Store
data_pipeline/.DS_Store
data_pipeline/utils/data_api/.env
data_pipeline/utils/data_api/.DS_Store
data_pipeline/utils/.env
.gitignore
.DS_Store
