fastapi
google_api_python_client
google_auth_oauthlib
matplotlib
numpy
pandas
Pillow
protobuf
pydantic
python-telegram-bot
Requests
s2cloudless
scikit_learn
scipy
torch
torchvision
tqdm
uvicorn
python-multipart
openpyxl
