fastapi==0.116.1
google_api_python_client==2.178.0
google_auth_oauthlib==1.2.2
matplotlib==3.10.5
numpy==2.3.2
pandas==2.3.1
Pillow==11.3.0
protobuf==6.32.0
pydantic==2.11.7
python-telegram-bot==22.3
Requests==2.32.5
s2cloudless==1.7.3
scikit_learn==1.7.1
scipy==1.16.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
uvicorn==0.35.0
