# MongoDB Configuration
MONGODB_URI=mongodb://admin:password@localhost:27018/flamesentinels?authSource=admin

# Server Configuration
PORT=5001

# Database Configuration
DB_NAME=flamesentinels
COLLECTION_NAME=uploads 